$shadow: 0 1px 5px rgba(0,0,0,.6);
$light-blue: #00addc;
$table-gry: #e7e7e8;
$dark-blue: #006699;
$light-gry: #939598;
@mixin shadow{
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin screen_1200{
	#nav>ul>span:before{
		content: "\e800";
		font-size: 2em;
		line-height: 2em;
	}
	#nav>ul>a{
		display: none;
	}
}
@mixin screen_980{
	body{
		min-width: 795px;
	}
	#nav{
		min-width: 795px;

	}
	#order>div:first-child+div+div>table{
		width: 100%;
		height: 200px;
		padding: 1em;
		box-sizing: border-box;
		background: $table-gry;
		color: $light-gry;
	}
	#order>div:first-child+div+div>table:first-child{
		margin-right: 0;
		margin-bottom: 1em;
	}
	#order>div:first-child+div+div>table:first-child+table{
		margin-left: 0;
	}
}
@mixin ie_support{
	.ie8>body{
		min-width: 1200px;
	}
	.ie8>body>#nav{
		min-width: 1200px;
	}	
}
@mixin button{
	margin-top: 1em;
    padding: .2em 4em;
	line-height: 3em;
	font-weight: bold;
	font: inherit;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
}
@mixin button_active{
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
@font-face {
	font-family: 'elliemae';
	src:url('/fonts/elliemae.eot?-f775nl');
	src:url('/fonts/elliemae.eot?-f775nl#iefix') format('embedded-opentype'),
		url('/fonts/elliemae.ttf?-f775nl') format('truetype'),
		url('/fonts/elliemae.woff?-f775nl') format('woff'),
		url('/fonts/elliemae.svg?-f775nl#elliemae') format('svg');
	font-weight: normal;
	font-style: normal;
}
@include ie_support;
body{
	margin: 0 !important;
}
h1,h2,h3,h4,h5,h6,p,a,span,table,button{
    -webkit-font-smoothing: antialiased;
	font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;  
}
h1{
	font-size: 3em;
	color: $light-blue;
	margin: 3em 1em 1em;
    text-align: left;
}
body>div{
	margin: 0 3em 4em;
}
#nav{
	left:0; 
	right:0; 
	top:0;
    z-index: 999;
	position: fixed;
	box-sizing: border-box;
	margin: 0;
	background-color: #fff;
	@include shadow;
}
#nav>ul{
    box-sizing: border-box;
	float: left;
}
#nav>ul:first-child{
	padding-left: 3em;
	text-align: left;
	width: 20%;
}
#nav>ul:first-child+ul{
	padding-right: 3em;
	width: 80%;
	text-align: right;
}
#nav>ul>img{
	cursor: pointer;
}
#nav>ul>a{
	color: $light-gry;
    padding: 0 .5em;
    text-decoration: none;
	cursor: pointer !important;
	text-transform: capitalize;
	line-height: 4em;
}
#nav>ul>a:hover{
	color: $light-blue;
}
#nav>ul>a:last-of-type{
	color: $light-blue;
}
#nav>ul>a:last-of-type:hover{
	color: $light-gry;
}
#nav>ul>*{
	cursor: pointer;
}
#nav>ul>span:before{
	padding: 0 .5em;
	font-family: 'elliemae';
	content: "\e629";
	color: $light-gry;
	font-size: 1em;
}
#nav>ul>span:hover:before{
	color: $light-blue;
}

#order>div:nth-of-type(1){
	overflow-y: auto;
}
#order>div:first-child>span{
	color: #fff;
	line-height: 3em;
	width: 50%;
	float: left;
	padding: 0 1em;
	background-color: $dark-blue;
	box-sizing: border-box;
}
#order>div:first-child>span{
	text-align: left;
	text-transform: capitalize;
}
#order>div:first-child>span+span{
	text-align: right;
}
#order>div:first-child+div{
	overflow-y: auto;
}
#order>div:first-child+div>span{
	color: $light-gry;
	line-height: 4em;
	float: left;
	width: 33.33333333%;
	box-sizing: border-box;
	padding: 0 1em;
}
#order>div:first-child+div>span>*{
	color: $dark-blue;
	font-style: normal;	
}
#order>div:first-child+div>span:first-child{
	text-align: left;
}
#order>div:first-child+div>span:first-child+span{
	text-align: center;
}
#order>div:first-child+div>span+span+span{
	text-align: right;
}
#order>div:first-child+div+div{
	overflow-y: auto;
}
#order>div:first-child+div+div>table{
	width: 49%;
	height: 200px;
	float: left;
	padding: 1em;
	box-sizing: border-box;
	background: $table-gry;
	color: $light-gry;
}
#order>div:first-child+div+div>table>tbody>tr>td:first-child{
	font-weight: bold;
}
#order>div:first-child+div+div>table:first-child{
	margin-right: 1%;
}
#order>div:first-child+div+div>table:first-child+table{
	margin-left: 1%;
}
#order>div:first-child+div+div>table>caption{
	color: $dark-blue;
	font-weight: bold;
    text-transform: capitalize;
	padding: 1em 1em 0;
	text-align: left;
	border-top: 1px solid $dark-blue;
	background: $table-gry;
}
/* 
	
	START PAYMENTS 
	
*/
#payment>table{
	border-collapse: collapse;
	border-top: 1px solid $dark-blue;
	width: 100%;
    box-sizing: border-box;
	color: $light-gry;
}
#payment>table>caption{
	line-height: 4em;
	text-transform: capitalize;
	color: $dark-blue;
	text-align: left;
}
#payment>table>tbody>tr{
    line-height: 3em;	
    border-bottom: .2em solid white;
    background: $table-gry;
    white-space: nowrap;

}
#payment>table>tbody>tr>td{
    padding: 0 1em;
}
#payment>table>tbody>tr>td:first-child{
	font-weight: bold;
}
#items>table{
	width: 100%;
	border-collapse: collapse;
    box-sizing: border-box;
    color: $light-gry; 
}
#items>table>thead{
	text-align: right;
	line-height: 4em;
	color: $dark-blue;
	text-transform: capitalize;
	border-bottom: 1px solid $dark-blue;	
}
#items>table>thead>tr>th{
	padding: 0 1em;
}
#items>table>thead>tr>th:first-child+th{
	text-align: left;
}
#items>table>thead>tr>th:first-child+th+th{
	text-align: center;
}
#items>table>thead>tr>th:first-child+th+th~th{
	padding: 0 2em;
}
#items>table>tbody>tr{
	line-height: 3em;
	text-align: right;
	background: $table-gry;
	white-space: nowrap;
    border-bottom: .2em solid white;
}
#items>table>tbody>tr>td{
	padding: 0 1em;
}
#items>table>tbody>tr>td:first-child{
	text-align: left;	
	color: $light-blue;
}
#items>table>tbody>tr>td:first-child+td{
	text-align: left;
}
#items>table>tbody>tr>td:first-child+td+td{
	text-align: center;
	color: $dark-blue;
	font-weight: bold;
}
#items>table>tbody>tr>td:first-child+td+td+td{
	color: $light-blue;
}
#items>table>tbody>tr>td[colspan="3"]{
	background: #fff;
	line-height: 2em;
}
#items>table>tbody>tr>td[colspan="3"]+td{
	background: #fff;
	text-align: right;
	color: $dark-blue;
	font-weight: bold;
	line-height: 2em;
}
#items>table>tbody>tr>td[colspan="3"]+td+td{
	background: #fff;
	text-align: right;
	color: $light-blue;
	font-weight: normal;
	line-height: 2em;
}
#items>table>tbody>tr>td[colspan="5"]{
	line-height: 3em;
	background: #fff;
	text-align: right;
}
button{
	@include button;
	background-color: #f26522;
}
button:hover{
	background-color: #F17032
}
button:active{
	@include button_active;
}
@media screen and (max-width:1200px){
	@include screen_1200;

}	
@media screen and (max-width:980px){
	@include screen_980;
}	