@font-face {
  font-family: 'elliemae';
  src: url("/fonts/elliemae.eot?-f775nl");
  src: url("/fonts/elliemae.eot?-f775nl#iefix") format("embedded-opentype"), url("/fonts/elliemae.ttf?-f775nl") format("truetype"), url("/fonts/elliemae.woff?-f775nl") format("woff"), url("/fonts/elliemae.svg?-f775nl#elliemae") format("svg");
  font-weight: normal;
  font-style: normal; }
.ie8 > body {
  min-width: 1200px; }

.ie8 > body > #nav {
  min-width: 1200px; }

body {
  margin: 0 !important; }

h1, h2, h3, h4, h5, h6, p, a, span, table, button {
  -webkit-font-smoothing: antialiased;
  font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",sans-serif; }

h1 {
  font-size: 3em;
  color: #00addc;
  margin: 3em 1em 1em;
  text-align: left; }

body > div {
  margin: 0 3em 4em; }

#nav {
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  position: fixed;
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6); }

#nav > ul {
  box-sizing: border-box;
  float: left; }

#nav > ul:first-child {
  padding-left: 3em;
  text-align: left;
  width: 20%; }

#nav > ul:first-child + ul {
  padding-right: 3em;
  width: 80%;
  text-align: right; }

#nav > ul > img {
  cursor: pointer; }

#nav > ul > a {
  color: #939598;
  padding: 0 .5em;
  text-decoration: none;
  cursor: pointer !important;
  text-transform: capitalize;
  line-height: 4em; }

#nav > ul > a:hover {
  color: #00addc; }

#nav > ul > a:last-of-type {
  color: #00addc; }

#nav > ul > a:last-of-type:hover {
  color: #939598; }

#nav > ul > * {
  cursor: pointer; }

#nav > ul > span:before {
  padding: 0 .5em;
  font-family: 'elliemae';
  content: "\e629";
  color: #939598;
  font-size: 1em; }

#nav > ul > span:hover:before {
  color: #00addc; }

#order > div:nth-of-type(1) {
  overflow-y: auto; }

#order > div:first-child > span {
  color: #fff;
  line-height: 3em;
  width: 50%;
  float: left;
  padding: 0 1em;
  background-color: #006699;
  box-sizing: border-box; }

#order > div:first-child > span {
  text-align: left;
  text-transform: capitalize; }

#order > div:first-child > span + span {
  text-align: right; }

#order > div:first-child + div {
  overflow-y: auto; }

#order > div:first-child + div > span {
  color: #939598;
  line-height: 4em;
  float: left;
  width: 33.33333333%;
  box-sizing: border-box;
  padding: 0 1em; }

#order > div:first-child + div > span > * {
  color: #006699;
  font-style: normal; }

#order > div:first-child + div > span:first-child {
  text-align: left; }

#order > div:first-child + div > span:first-child + span {
  text-align: center; }

#order > div:first-child + div > span + span + span {
  text-align: right; }

#order > div:first-child + div + div {
  overflow-y: auto; }

#order > div:first-child + div + div > table {
  width: 49%;
  height: 200px;
  float: left;
  padding: 1em;
  box-sizing: border-box;
  background: #e7e7e8;
  color: #939598; }

#order > div:first-child + div + div > table > tbody > tr > td:first-child {
  font-weight: bold; }

#order > div:first-child + div + div > table:first-child {
  margin-right: 1%; }

#order > div:first-child + div + div > table:first-child + table {
  margin-left: 1%; }

#order > div:first-child + div + div > table > caption {
  color: #006699;
  font-weight: bold;
  text-transform: capitalize;
  padding: 1em 1em 0;
  text-align: left;
  border-top: 1px solid #006699;
  background: #e7e7e8; }

/* 
	
	START PAYMENTS 
	
*/
#payment > table {
  border-collapse: collapse;
  border-top: 1px solid #006699;
  width: 100%;
  box-sizing: border-box;
  color: #939598; }

#payment > table > caption {
  line-height: 4em;
  text-transform: capitalize;
  color: #006699;
  text-align: left; }

#payment > table > tbody > tr {
  line-height: 3em;
  border-bottom: .2em solid white;
  background: #e7e7e8;
  white-space: nowrap; }

#payment > table > tbody > tr > td {
  padding: 0 1em; }

#payment > table > tbody > tr > td:first-child {
  font-weight: bold; }

#items > table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
  color: #939598; }

#items > table > thead {
  text-align: right;
  line-height: 4em;
  color: #006699;
  text-transform: capitalize;
  border-bottom: 1px solid #006699; }

#items > table > thead > tr > th {
  padding: 0 1em; }

#items > table > thead > tr > th:first-child + th {
  text-align: left; }

#items > table > thead > tr > th:first-child + th + th {
  text-align: center; }

#items > table > thead > tr > th:first-child + th + th ~ th {
  padding: 0 2em; }

#items > table > tbody > tr {
  line-height: 3em;
  text-align: right;
  background: #e7e7e8;
  white-space: nowrap;
  border-bottom: .2em solid white; }

#items > table > tbody > tr > td {
  padding: 0 1em; }

#items > table > tbody > tr > td:first-child {
  text-align: left;
  color: #00addc; }

#items > table > tbody > tr > td:first-child + td {
  text-align: left; }

#items > table > tbody > tr > td:first-child + td + td {
  text-align: center;
  color: #006699;
  font-weight: bold; }

#items > table > tbody > tr > td:first-child + td + td + td {
  color: #00addc; }

#items > table > tbody > tr > td[colspan="3"] {
  background: #fff;
  line-height: 2em; }

#items > table > tbody > tr > td[colspan="3"] + td {
  background: #fff;
  text-align: right;
  color: #006699;
  font-weight: bold;
  line-height: 2em; }

#items > table > tbody > tr > td[colspan="3"] + td + td {
  background: #fff;
  text-align: right;
  color: #00addc;
  font-weight: normal;
  line-height: 2em; }

#items > table > tbody > tr > td[colspan="5"] {
  line-height: 3em;
  background: #fff;
  text-align: right; }

button {
  margin-top: 1em;
  padding: .2em 4em;
  line-height: 3em;
  font-weight: bold;
  font: inherit;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  background-color: #f26522; }

button:hover {
  background-color: #F17032; }

button:active {
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

@media screen and (max-width: 1200px) {
  #nav > ul > span:before {
    content: "\e800";
    font-size: 2em;
    line-height: 2em; }

  #nav > ul > a {
    display: none; } }
@media screen and (max-width: 980px) {
  body {
    min-width: 795px; }

  #nav {
    min-width: 795px; }

  #order > div:first-child + div + div > table {
    width: 100%;
    height: 200px;
    padding: 1em;
    box-sizing: border-box;
    background: #e7e7e8;
    color: #939598; }

  #order > div:first-child + div + div > table:first-child {
    margin-right: 0;
    margin-bottom: 1em; }

  #order > div:first-child + div + div > table:first-child + table {
    margin-left: 0; } }

/*# sourceMappingURL=index.css.map */
